.Home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.Header {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 7em;
  margin-left: 6em;
}

.ProfileImage {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.ProfileImage img {
  width: 50%;
  height: auto;
  box-shadow: 12px 0 #d9c8f1, 24px 0 #e2d6f3, 36px 0 #ece6f5;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  margin-right: 8em;

}

.Description {
  width: 100%;
  height: 100;
  margin-right: 0em;

  
  

}

.Description span.color {
  color: black;
}

.socialsResume {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 2em;
  margin-right: 10em;


}

.resumeLink {
  background-color: #8444df;
  padding: 15px 35px;
  border-radius: 40px;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 300;
  display: inline-block;
  color: white;
  transition: all 0.3s ease-in;
  height: 50px;
  margin-left: 0em;
}

.LinkdeIn {
  font-size: 40px;
  margin-left: 1em;
}

.GitHubLink {
  font-size: 40px;
  margin-left: 1em;
}

.headingcolor{
  color: #8444df;
}

